<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:import:NSObject+isBaseType.h</key>
		<string>#import &quot;NSObject+isBaseType.h&quot;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:import:SYConstants.h</key>
		<string>#import &quot;SYConstants.h&quot;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:import:SYCommonFunction.h</key>
		<string>#import &quot;SYCommonFunction.h&quot;</string>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()

@end
</string>
		<key>NSLogger/NSObject+isBaseType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>NSLogger</string>
			</array>
			<key>Path</key>
			<string>./NSLogger/NSObject+isBaseType.h</string>
		</dict>
		<key>NSLogger/NSObject+isBaseType.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>NSLogger</string>
			</array>
			<key>Path</key>
			<string>./NSLogger/NSObject+isBaseType.m</string>
		</dict>
		<key>NSLogger/Dlog.h</key>
		<dict>
			<key>Path</key>
			<string>./NSLogger/Dlog.h</string>
			<key>Group</key>
			<array>
				<string>NSLogger</string>
			</array>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Libs/youmeng/MobClick.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>youmeng</string>
			</array>
			<key>Path</key>
			<string>./Libs/youmeng/MobClick.h</string>
		</dict>
		<key>Libs/youmeng/LibMobClickLibrary.a</key>
		<dict>
			<key>Path</key>
			<string>Libs/youmeng/LibMobClickLibrary.a</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>youmeng</string>
			</array>
		</dict>
		<key>Libs/youmeng/youmeng.plist</key>
		<dict>
			<key>Path</key>
			<string>Libs/youmeng/youmeng.plist</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>youmeng</string>
			</array>
		</dict>
		<key>ViewController/Root/SYRootNavigationController.h</key>
		<dict>
			<key>Path</key>
			<string>./ViewController/Root/SYRootNavigationController.h</string>
			<key>Group</key>
			<array>
				<string>ViewController</string>
				<string>Root</string>
			</array>
		</dict>
		<key>ViewController/Root/SYRootNavigationController.m</key>
		<dict>
			<key>Path</key>
			<string>./ViewController/Root/SYRootNavigationController.m</string>
			<key>Group</key>
			<array>
				<string>ViewController</string>
				<string>Root</string>
			</array>
		</dict>
		<key>ViewController/Root/SYRootTabBarController.h</key>
		<dict>
			<key>Path</key>
			<string>./ViewController/Root/SYRootTabBarController.h</string>
			<key>Group</key>
			<array>
				<string>ViewController</string>
				<string>Root</string>
			</array>
		</dict>
		<key>ViewController/Root/SYRootTabBarController.m</key>
		<dict>
			<key>Path</key>
			<string>./ViewController/Root/SYRootTabBarController.m</string>
			<key>Group</key>
			<array>
				<string>ViewController</string>
				<string>Root</string>
			</array>
		</dict>
		<key>Model/SYConstants.h</key>
		<dict>
			<key>Path</key>
			<string>./Model/SYConstants.h</string>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
		</dict>
		<key>Model/SYConstants.m</key>
		<dict>
			<key>Path</key>
			<string>./Model/SYConstants.m</string>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
		</dict>
		<key>Functions/SYCommonFunction.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Functions</string>
			</array>
			<key>Path</key>
			<string>./Functions/SYCommonFunction.h</string>
		</dict>
		<key>Functions/SYCommonFunction.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Functions</string>
			</array>
			<key>Path</key>
			<string>./Functions/SYCommonFunction.m</string>
		</dict>
		<key>Libs/AFNetworking/AFDownloadRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFDownloadRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFDownloadRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFDownloadRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPClient.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPClient.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPClient.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPClient.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPRequestOperationLogger.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPRequestOperationLogger.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFHTTPRequestOperationLogger.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFHTTPRequestOperationLogger.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFImageRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFImageRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFImageRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFImageRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFJSONRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFJSONRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFJSONRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFJSONRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFNetworkActivityIndicatorManager.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFNetworkActivityIndicatorManager.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFNetworkActivityIndicatorManager.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFNetworkActivityIndicatorManager.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFNetworking.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFNetworking.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFOAuth2Client.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFOAuth2Client.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFOAuth2Client.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFOAuth2Client.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFPropertyListRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFPropertyListRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFPropertyListRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFPropertyListRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFURLConnectionOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFURLConnectionOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFURLConnectionOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFURLConnectionOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFXMLRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFXMLRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/AFXMLRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/AFXMLRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/UIImageView+AFNetworking.h</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/UIImageView+AFNetworking.h</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>Libs/AFNetworking/UIImageView+AFNetworking.m</key>
		<dict>
			<key>Path</key>
			<string>./Libs/AFNetworking/UIImageView+AFNetworking.m</string>
			<key>Group</key>
			<array>
				<string>Libs</string>
				<string>AFNetWorking</string>
			</array>
		</dict>
		<key>httpManager/HttpClient/SYApiClient.h</key>
		<dict>
			<key>Path</key>
			<string>./httpManager/HttpClient/SYApiClient.h</string>
			<key>Group</key>
			<array>
				<string>httpManager</string>
				<string>HttpClient</string>
			</array>
		</dict>
		<key>httpManager/HttpClient/SYApiClient.m</key>
		<dict>
			<key>Path</key>
			<string>./httpManager/HttpClient/SYApiClient.m</string>
			<key>Group</key>
			<array>
				<string>httpManager</string>
				<string>HttpClient</string>
			</array>
		</dict>
		<key>httpManager/HttpClient/SYAPIResult.h</key>
		<dict>
			<key>Path</key>
			<string>./httpManager/HttpClient/SYAPIResult.h</string>
			<key>Group</key>
			<array>
				<string>httpManager</string>
				<string>HttpClient</string>
			</array>
		</dict>
		<key>httpManager/HttpClient/SYAPIResult.m</key>
		<dict>
			<key>Path</key>
			<string>./httpManager/HttpClient/SYAPIResult.m</string>
			<key>Group</key>
			<array>
				<string>httpManager</string>
				<string>HttpClient</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefresh.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefresh.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshBaseView.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshBaseView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshBaseView.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshBaseView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshConst.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshConst.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshConst.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshConst.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshFooterView.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshFooterView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshFooterView.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshFooterView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshHeaderView.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshHeaderView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefreshHeaderView.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefreshHeaderView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/SYTableViewController.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/SYTableViewController.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/SYTableViewController.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/SYTableViewController.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIScrollView+MJExtension.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIScrollView+MJExtension.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIScrollView+MJExtension.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIScrollView+MJExtension.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIScrollView+MJRefresh.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIScrollView+MJRefresh.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIScrollView+MJRefresh.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIScrollView+MJRefresh.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIView+MJExtension.h</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIView+MJExtension.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/UIView+MJExtension.m</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/UIView+MJExtension.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
		<key>Views/MJRefresh/MJRefresh.bundle</key>
		<dict>
			<key>Path</key>
			<string>./Views/MJRefresh/MJRefresh.bundle</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>MJRefresh</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.SYousoftApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:didReceiveMemoryWarning</string>
		<string>NSLogger/NSObject+isBaseType.h</string>
		<string>NSLogger/NSObject+isBaseType.m</string>
		<string>NSLogger/Dlog.h</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.h</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.m</string>
		<string>Libs/youmeng/MobClick.h</string>
		<string>Libs/youmeng/LibMobClickLibrary.a</string>
		<string>Libs/youmeng/youmeng.plist</string>
		<string>ViewController/Root/SYRootNavigationController.h</string>
		<string>ViewController/Root/SYRootNavigationController.m</string>
		<string>ViewController/Root/SYRootTabBarController.h</string>
		<string>ViewController/Root/SYRootTabBarController.m</string>
		<string>Model/SYConstants.h</string>
		<string>Model/SYConstants.m</string>
		<string>Libs/AFNetworking/AFDownloadRequestOperation.h</string>
		<string>Libs/AFNetworking/AFDownloadRequestOperation.m</string>
		<string>Libs/AFNetworking/AFHTTPClient.h</string>
		<string>Libs/AFNetworking/AFHTTPClient.m</string>
		<string>Libs/AFNetworking/AFHTTPRequestOperation.h</string>
		<string>Libs/AFNetworking/AFHTTPRequestOperation.m</string>
		<string>Libs/AFNetworking/AFHTTPRequestOperationLogger.h</string>
		<string>Libs/AFNetworking/AFHTTPRequestOperationLogger.m</string>
		<string>Libs/AFNetworking/AFImageRequestOperation.h</string>
		<string>Libs/AFNetworking/AFImageRequestOperation.m</string>
		<string>Libs/AFNetworking/AFJSONRequestOperation.h</string>
		<string>Libs/AFNetworking/AFJSONRequestOperation.m</string>
		<string>Libs/AFNetworking/AFNetworkActivityIndicatorManager.h</string>
		<string>Libs/AFNetworking/AFNetworkActivityIndicatorManager.m</string>
		<string>Libs/AFNetworking/AFNetworking.h</string>
		<string>Libs/AFNetworking/AFOAuth2Client.h</string>
		<string>Libs/AFNetworking/AFOAuth2Client.m</string>
		<string>Libs/AFNetworking/AFPropertyListRequestOperation.h</string>
		<string>Libs/AFNetworking/AFPropertyListRequestOperation.m</string>
		<string>Libs/AFNetworking/AFURLConnectionOperation.h</string>
		<string>Libs/AFNetworking/AFURLConnectionOperation.m</string>
		<string>Libs/AFNetworking/AFXMLRequestOperation.h</string>
		<string>Libs/AFNetworking/AFXMLRequestOperation.m</string>
		<string>Libs/AFNetworking/UIImageView+AFNetworking.h</string>
		<string>Libs/AFNetworking/UIImageView+AFNetworking.m</string>
		<string>Functions/SYCommonFunction.h</string>
		<string>Functions/SYCommonFunction.m</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:import:NSObject+isBaseType.h</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:import:SYConstants.h</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:import:SYCommonFunction.h</string>
		<string>httpManager/HttpClient/SYApiClient.h</string>
		<string>httpManager/HttpClient/SYApiClient.m</string>
		<string>httpManager/HttpClient/SYApiResult.h</string>
		<string>httpManager/HttpClient/SYApiResult.m</string>
		<string>Views/MJRefresh/MJRefresh.h</string>
		<string>Views/MJRefresh/MJRefreshBaseView.h</string>
		<string>Views/MJRefresh/MJRefreshBaseView.m</string>
		<string>Views/MJRefresh/MJRefreshConst.h</string>
		<string>Views/MJRefresh/MJRefreshConst.m</string>
		<string>Views/MJRefresh/MJRefreshFooterView.h</string>
		<string>Views/MJRefresh/MJRefreshFooterView.m</string>
		<string>Views/MJRefresh/MJRefreshHeaderView.h</string>
		<string>Views/MJRefresh/MJRefreshHeaderView.m</string>
		<string>Views/MJRefresh/SYTableViewController.h</string>
		<string>Views/MJRefresh/SYTableViewController.m</string>
		<string>Views/MJRefresh/UIScrollView+MJExtension.h</string>
		<string>Views/MJRefresh/UIScrollView+MJExtension.m</string>
		<string>Views/MJRefresh/UIScrollView+MJRefresh.h</string>
		<string>Views/MJRefresh/UIScrollView+MJRefresh.m</string>
		<string>Views/MJRefresh/UIView+MJExtension.h</string>
		<string>Views/MJRefresh/UIView+MJExtension.m</string>
		<string>Views/MJRefresh/MJRefresh.bundle</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
